name: Sync JSON to AzDO

on:
  push:
    branches: [main]
    paths:
      - "Data/characterBaseData.json"

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitHub repo
        uses: actions/checkout@v3

      - name: Checkout Azure DevOps repo
        uses: actions/checkout@v3
        with:
          repository: xAgentSoftware/swgoh-stackrank
          token: ${{ secrets.AZDO_PAT }}
          path: azdo_repo
          ref: dev

      - name: Commit and push changes to AzDO if any
        run: |
          cd azdo_repo
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git remote set-url origin https://${AZDO_PAT}@dev.azure.com/xAgentSoftware/xas/_git/swgoh-stackrank
          git add swgoh-stackrank-webapp/swgoh-stackrank-webapp/Data/characterBaseData.json
          if ! git diff --cached --quiet; then
            git commit -m "Sync characterBaseData.json from GitHub (authoritative)"
            git push origin dev --force
          else
            echo "No changes detected, skipping commit."
          fi
        env:
          AZDO_PAT: ${{ secrets.AZDO_PAT }}
